<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <form action="/authentication/signup" method="POST">
          <label for="Firstname"><b>First name</b></label><br/>
          <input type="text" placeholder="Enter first name" id="Firstname" name="firstname"required><br/>

          <label for="Lastname"><b>Last name</b></label><br/>
          <input type="text" placeholder="Enter last name" id="Lastname" name="lastname"  required><br/>
          <label for="email"><b>Email</b></label><br/>
          <input type="text" placeholder="Enter email" id="email" name="email"  required><br/>
      
          <label for="pwd"><b>Password</b></label><br/>
          <input type="password" placeholder="Enter Password" id="pwd" name="pwd" required><br/>
      
          <label for="confirmpwd"><b>confirm password</b></label><br/>
          <input type="password" placeholder="Enter Password again" id="confirmpwd"  name="confirmpwd" required><br/>

          <button type="submit">Sign up</button>
       
      
      </form> 
  
      <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-firestore.js"></script>
      <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-storage.js"></script>  

</body>
</html>