<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="Bootstrap/js/bootstrap.min.js"></script> -->
    <link rel="shortcut icon" type="image/png" href="../img/logo.png">



    <title>Melopia</title>
</head>
<body>

    <div class="navigation">
        <div class="logo">
            <img src="../img/logo.png" alt="beatmaker tools" class="logo__img">
            <p class="logo__title">Melopia</p>
        </div>

        <nav class="user-nav">
            
        </nav>
    </div>

    <!-- <div class="message">
        <img src="../img/carouselFirst.png" class="message__image" alt="first image of carousel">
        <h3 class="message__title">Discover new music made by our community</h3>
    </div> -->



    <div class="homecontainer">
        <div class="tempbg">
            <form action="#" class="search">
                <input type="text" class="search__input" placeholder="Search for beats">
                <button class="search__button">
                    <svg class="search__icon">
                        <use xlink:href="../img/sprite.svg#icon-magnifying-glass"></use>
                    </svg>
                </button>
            </form>
        </div> 


        <div class="trending">
            <div class="trending__header">
                <svg class="trending__header-icon">
                    <use xlink:href="../img/sprite.svg#icon-trending-up"></use>
                </svg>
                <h3 class="trending__header-title">Trending now</h3>
            </div>
            <div class="trending__list">
                <div class="trending__list-item">
                 
                </div>
      
             
            
             
            </div>
        </div>


        <div class="discover">
            <div class="discover__header">
                <svg class="discover__header-icon">
                    <use xlink:href="../img/sprite.svg#icon-compass"></use>
                </svg>
                <h3 class="discover__header-title">Discover new music !</h3>
            </div>
            <div class="discover__list">
                <div class="discover__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="discover__list-item-image">
                    <p class="discover__list-item-title">Euphoria</p>
                    <p class="discover__list-item-author">By Stefanos</p>
                </div>
                <div class="discover__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="discover__list-item-image">
                    <p class="discover__list-item-title">Euphoria</p>
                    <p class="discover__list-item-author">By Stefanos</p>
                </div>
                <div class="discover__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="discover__list-item-image">
                    <p class="discover__list-item-title">Euphoria</p>
                    <p class="discover__list-item-author">By Stefanos</p>
                </div>
                <div class="discover__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="discover__list-item-image">
                    <p class="discover__list-item-title">Euphoria</p>
                    <p class="discover__list-item-author">By Stefanos</p>
                </div>
                <div class="discover__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="discover__list-item-image">
                    <p class="discover__list-item-title">Euphoria</p>
                    <p class="discover__list-item-author">By Stefanos</p>
                </div>
                <div class="discover__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="discover__list-item-image">
                    <p class="discover__list-item-title">Euphoria</p>
                    <p class="discover__list-item-author">By Stefanos</p>
                </div>
            </div>
        </div>

        <div class="random">
            <div class="random__header">
                <svg class="random__header-icon">
                    <use xlink:href="../img/sprite.svg#icon-loop2"></use>
                </svg>
                <h3 class="random__header-title">Newly releast music</h3>
            </div>
            <div class="random__list">
                <div class="random__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="random__list-item-image">
                    <p class="random__list-item-title">Euphoria</p>
                    <p class="random__list-item-author">By Stefanos</p>
                </div>
                <div class="random__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="random__list-item-image">
                    <p class="random__list-item-title">Euphoria</p>
                    <p class="random__list-item-author">By Stefanos</p>
                </div>
                <div class="random__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="random__list-item-image">
                    <p class="random__list-item-title">Euphoria</p>
                    <p class="random__list-item-author">By Stefanos</p>
                </div>
                <div class="random__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="random__list-item-image">
                    <p class="random__list-item-title">Euphoria</p>
                    <p class="random__list-item-author">By Stefanos</p>
                </div>
                <div class="random__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="random__list-item-image">
                    <p class="random__list-item-title">Euphoria</p>
                    <p class="random__list-item-author">By Stefanos</p>
                </div>
                <div class="random__list-item">
                    <img src="../img/albumPicture.png" alt="picture of album" class="random__list-item-image">
                    <p class="random__list-item-title">Euphoria</p>
                    <p class="random__list-item-author">By Stefanos</p>
                </div>
            </div>
        </div>

        
        
    </div>
    
    <script src="../scripts/home.js"></script>
    <script src="../scripts/navigation.js"></script>

</body>
</html>