<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="files" class="tab-pane fade">
      <div id="message">
        <h1>Choose a file to upload</h1>
          <form id="uploadForm">
          <input
            type="text"
            id="titleRemix"
            name="titleRemix"
            placeholder="Enter title of remix"
            required
          /><br /><br />
          <input type="file" id="customFile" name="filename" />
     
        <br />
        <div>
          <button
            type="submit"
          >
            Upload
          </button>
        </form>
          
        </div>
        <br />
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>
    <script>
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyBjztYt_eXCDoRgPcip2xU2IVtSV8yg95w",
        authDomain: "fullproject-2e12b.firebaseapp.com",
        databaseURL:
          "https://fullproject-2e12b-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "fullproject-2e12b",
        storageBucket: "fullproject-2e12b.appspot.com",
        messagingSenderId: "183388416082",
        appId: "1:183388416082:web:96fd5abf9b3f53038c178b",
        measurementId: "G-6643M0KBBJ",
      };

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>

    <script src="../scripts/uploadfile.js"></script>

  </body>
</html>
