// .carouselSlider {
//   background-size: cover;
//   background-position: top;
//   position: relative;
// }

// .carouselImage {
//   height: 20vh;
// }

// .carouselBanner {
//   position: absolute;
//   top: 25%;
//   left: 10%;
//   padding: 2rem;

//   background-color: rgba($color: #fff, $alpha: 0.77);
//   &__title {
//     color: #0f1225;
//     text-transform: uppercase;
//     font-size: 3rem;
//     font-weight: 600;
//   }
// }

.message {
  background-size: cover;
  background-position: top;
  position: relative;

  &__image {
    height: 20vh;
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 25%;
    left: 10%;
    padding: 2rem;
    background-color: rgba($color: #fff, $alpha: 0.77);
    color: #0f1225;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
  }
}

.homecontainer {
  height: 70vh;
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 100%);
  // background-color: #0f1225;
  position: relative;

  .tempbg {
    background-color: #0f1225;
    height: 15%;
  }

  .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
      margin-top: 2rem;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 30%;
      transition: all 0.2s;
      margin-right: -3.25rem;
      font-size: 2rem;

      &:focus {
        outline: none;
        width: 40%;
      }
    }

    &__button {
      border: none;
      margin-top: 2rem;
      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &__icon {
      height: 2rem;
      width: 2rem;
      outline: none;
    }
  }

  .trending {
    width: 80vw;
    margin: auto;

    &__header {
      display: flex;
      align-items: center;

      margin-top: 2rem;

      &-icon {
        height: 3.5rem;
        width: 4rem;
        fill: #db1673;
      }

      &-title {
        font-size: 3rem;
        margin-left: 2rem;
        color: #db1673;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      &-item {
        &-image {
          width: 15rem;
          height: 15rem;
        }
        &-title {
          font-size: 2.5rem;
        }

        &-author {
          font-size: 1.5rem;
          font-style: italic;
        }
      }
    }
  }

  .discover {
    width: 80vw;
    margin: auto;

    &__header {
      display: flex;
      align-items: center;

      margin-top: 2rem;

      &-icon {
        height: 3.5rem;
        width: 4rem;
        fill: #0f1225;
      }

      &-title {
        font-size: 3rem;
        margin-left: 2rem;
        color: #0f1225;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      &-item {
        &-image {
          width: 15rem;
          height: 15rem;
        }
        &-title {
          font-size: 2.5rem;
        }

        &-author {
          font-size: 1.5rem;
          font-style: italic;
        }
      }
    }
  }

  .random {
    width: 80vw;
    margin: auto;
    padding-bottom: 12rem;
    &__header {
      display: flex;
      align-items: center;

      margin-top: 2rem;

      &-icon {
        height: 3.5rem;
        width: 4rem;
        fill: #0f1225;
      }

      &-title {
        font-size: 3rem;
        margin-left: 2rem;
        color: #0f1225;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      &-item {
        &-image {
          width: 15rem;
          height: 15rem;
        }
        &-title {
          font-size: 2.5rem;
        }

        &-author {
          font-size: 1.5rem;
          font-style: italic;
        }
      }
    }
  }
}
