.containerplay {
  height: 50vh;
  background-image: linear-gradient(to bottom, #0f1225, #101728, #184f4e, #2fe4b3);
}

.player {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 5rem;
  &__commands {
    &-icon {
      height: 10rem;
      width: 10rem;
      fill: #ffffff;
      background-color: #2fe4b3;
      border-radius: 50%;
      padding: 1rem;
    }
  }

  &__play {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;

    h3 {
      margin-bottom: 2rem;
    }
    &-stats {
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin-top: 5rem;

      &-likes {
        display: flex;
        align-items: center;

        &-icon {
          height: 3rem;
          width: 3rem;
          fill: #db1572;
        }
        &-number {
          margin-left: 2rem;
        }
      }

      &-comments {
        display: flex;
        align-items: center;
        margin-right: 50%;
        &-icon {
          height: 3rem;
          width: 3rem;
          fill: #ffffff;
        }

        &-number {
          margin-left: 2rem;
        }
      }

      &-upload {
        &,
        &:link,
        &:visited {
          color: #fff8fb;
          text-transform: uppercase;
          border-radius: 5rem;
          background-color: #db1572;
          text-decoration: none;
          padding: 2rem 3rem;

          transition: all 0.2s;
          text-align: center;
          font-size: 1.5rem;

          //Change for the <button> element
          border: none;
          cursor: pointer;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(#000, 0.2);

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }

        &:active,
        &:focus {
          outline: none;
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
        }
      }
    }
  }

  &__album {
    height: 35rem;
    width: 35rem;
  }
}

.subplayer {
  display: flex;

  .comments {
    width: 70vw;
    background-color: #f2f2f2;

    &__new {
      width: 56vw;
      margin: auto;
      display: flex;
      align-items: center;
      margin-top: 3rem;
      border-bottom: 1px solid #0f1225;
      padding-bottom: 3rem;

      &-image {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        margin-right: 3rem;
      }

      &-input {
        width: 100%;

        padding: 2rem 0;
        color: #707070;
        border: none;
        border-radius: 10px;
        background-color: #ffffff;
        padding-left: 2rem;

        &:focus {
          outline: none;
        }
      }

      &-button {
        &,
        &:link,
        &:visited {
          color: #fff8fb;
          text-transform: uppercase;

          background-color: #db1572;
          text-decoration: none;
          padding: 2rem 3rem;

          transition: all 0.2s;
          text-align: center;
          font-size: 1.5rem;
          margin-left: 2rem;
          border-radius: 1rem;
          //Change for the <button> element
          border: none;
          cursor: pointer;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(#000, 0.2);

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }

        &:active,
        &:focus {
          outline: none;
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
        }
      }
    }

    &__list {
      width: 56vw;
      margin: auto;
      margin-top: 3rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #a7abc5;
      padding-bottom: 3rem;

      &-image {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        margin-right: 3rem;
      }

      &-info {
        flex: 0 0 80%;
        &-name {
          font-size: 2.5rem;
          font-weight: 600;
        }

        &-comment {
          font-size: 1.8rem;
        }
      }

      &-date {
        font-size: 1.5rem;
      }
    }
  }

  .samples {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 3rem;
      color: #db1572;
      margin-top: 2rem;
    }

    &__audio {
      &-icon {
        height: 5rem;
        width: 5rem;
        fill: #ffffff;
        background-color: #db1572;
        border-radius: 50%;
        padding: 1rem;
        margin-top: 2rem;
      }
    }

    &__button {
      &,
      &:link,
      &:visited {
        color: #fff8fb;
        text-transform: uppercase;
        background-color: #db1572;
        text-decoration: none;
        padding: 2rem 3rem;

        transition: all 0.2s;
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
        border: none;
        cursor: pointer;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000, 0.2);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
      }
    }

    &__header {
      font-size: 3.5rem;
      margin-top: 2rem;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 50%;
      margin-top: 2rem;

      &-image {
        height: 15rem;
        width: 15rem;
      }

      &-info {
        &-title {
          font-size: 3rem;
        }

        &-author {
          font-size: 1.5rem;
          font-style: italic;
        }
      }
    }
  }
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(62, 61, 83, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(#000000, 0.2);
    border-radius: 3px;

    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: auto;
    background-color: #fdfdff;
    margin-top: 2rem;
  }

  &__remixtitle {
    font-size: 3rem;
  }

  &__input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 0;
    color: #707070;
    border: none;
    background-color: rgba(15, 18, 37, 0.16);
    padding-left: 2rem;

    &:focus {
      outline: none;
    }
  }

  &__uploadzone {
    background-color: rgba(192, 218, 211, 0.17);
  }

  &__instruction {
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5rem;
  }

  &__icon {
    margin-left: 30%;
    margin-top: 2rem;
  }

  &__uploadbutton {
    &,
    &:link,
    &:visited {
      color: #fff8fb;
      text-transform: uppercase;

      background-color: #2fe4b3;
      text-decoration: none;
      padding: 1rem 0;

      transition: all 0.2s;
      text-align: center;
      font-size: 2.5rem;
      margin-top: 5rem;

      border: none;
      cursor: pointer;
      width: 100%;
    }

    &:hover {
      background-color: #2cd1a4;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__header {
    height: 20%;
    background-color: #0f1225;

    &-title {
      color: #fff;
      font-size: 5rem;
      text-align: center;
      text-transform: uppercase;
      padding-top: 3rem;
    }

    &-close {
      color: white;
      position: absolute;
      top: 0.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      transition: all 0.2s;

      &:hover {
        color: #db1572;
      }
    }
  }

  &__post {
    &,
    &:link,
    &:visited {
      color: #fff8fb;
      text-transform: uppercase;

      background-color: #db1572;
      text-decoration: none;
      padding: 1rem 0;
      margin-top: 3rem;

      transition: all 0.2s;
      text-align: center;
      font-size: 2.5rem;

      border: none;
      cursor: pointer;
      width: 100%;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__area {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
