.navigation {
  font-size: 2rem;
  height: 10vh;
  background-color: #0f1225;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d7ebea;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;

    &__img {
      height: 8rem;
      margin-left: 2rem;
    }

    &__title {
      font-size: 4rem;
      margin-left: 2rem;
    }
  }

  .user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-right: 8rem;

    & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__link {
      text-decoration: none;
      color: #d7ebea;
    }

    &__user-photo {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      margin-right: 1rem;
      margin-left: 5rem;
    }
  }
}
